#
# Connector translations
#
# @language      en_US
#
# @license       More in LICENSE.md
# @copyright     https://www.fastybird.com
# @author        Adam Kadlec <adam.kadlec@fastybird.com>
# @package       FastyBird:FbMqttConnector!
# @subpackage    Translations
# @since         0.4.0
#
# @date          03.02.22
#

base:
    messages:
        invalidAttribute:
            heading	: "Invalid attribute"
            message	: "Provided entity attribute is not valid"